{% load static %}
{% include 'games/header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="text-center">
    <span class="badge text-bg-dark"><h1>Детальная информация об игре - {{game_id.title}}</h1></span>
</div>

<div class="btn-style">
    <button  class="btn btn-light"><a href="/game_detail/{{ game_id.id }}/delete/">Удалить</a></button>
    <button  class="btn btn-light"><a href="/game_detail/{{ game_id.id }}/update/">Изменить</a></button>

</div>

<div class="block-box">
    <div class="card" style="width: 18rem;">
      <img src="{{game_id.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{game_id.title}}</h5>
        <p class="card-text">{{game_id.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Жанр - {{game_id.genre}}</li>
        <li class="list-group-item">Цена: {{game_id.cost}}</li>
        <li class="list-group-item">Год выпуска: {{game_id.year}}</li>
        <li class="list-group-item">Издатель - {{game_id.publisher}}</li>
        <li class="list-group-item">Игровая плтаформа - {{game_id.platform}}</li>
      <iframe src="{{game_id.trailer}}" frameborder="0"></iframe>
      <iframe src="{{game_id.gameplay}}" frameborder="0"></iframe>
      </ul>
    </div>
</div>

{% include 'games/footer.html' %}
